# Ocelot config file
# Lines starting with a # are ignored
# A # anywhere else is treated like any other character

listen_port         = 34000
max_connections     = 128
max_middlemen       = 20000
max_read_buffer     = 4096
connection_timeout  = 10
# Keepalive is mostly useful if the tracker runs behind reverse proxies
keepalive_timeout   = 0

announce_interval   = 1800
max_request_size    = 4096
numwant_limit       = 50
request_log_size    = 500

mysql_host          = 
mysql_username      = 
mysql_password      = 
mysql_db            = 

# The passwords must be 32 characters and match the Gazelle config
report_password     = 00000000000000000000000000000000
site_password       = 00000000000000000000000000000000

peers_timeout       = 7200
del_reason_lifetime = 86400
reap_peers_interval = 1800
schedule_interval   = 3

readonly            = false
